<!DOCTYPE html>
<html>
    <div class = "card">
        <div class = "card-header centered">
            <div>
                <h1>Profile</h1>
            </div>
            <div>
                <img src = "Profile.jpg" width="300" height="350" class="mx-auto d-block rounded">
            </div>
            <div>
                <h2>Bio</h2>
            </div>
            <div>
                <h2>Personal Statement</h2>
            </div>
            <div>
                <h2>Interests</h2>
            </div>
        </div>
    </div>
</html>